node_modules
**/node_modules

package-lock.json

dist
build

.env

# Uploaded images
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/technicians/
!backend/uploads/technicians/.gitkeep
!backend/uploads/tickets/
!backend/uploads/tickets/before/
!backend/uploads/tickets/before/.gitkeep

richmenu.js
richmenu.jpg